name: chemicalfun


dependencies:
  - pip
  - gxx_linux-64 # [linux]
  - cmake>=3.16
  - ninja
  - clcache  # [win]
  - ccache  # [unix]
  - pybind11
  - eigen>=3.4.0
  - nlohmann_json
  - spdlog
  - python>=3.7
  - pytest

environment:

#  PYTHONPATH:
#    - {{ root }}/artifacts/python/lib/python{{ python_version }}/site-packages   # [unix]
#    - {{ root }}/build/lib/python{{ python_version }}/site-packages              # [unix]
#    - {{ root }}/build/lib64/python{{ python_version }}/site-packages            # [unix]
#    - {{ root }}\artifacts\python\Lib\site-packages                              # [win]
#    - {{ root }}\build\lib\python{{ python_version }}\site-packages              # [win]

  LD_LIBRARY_PATH:                                                   # [unix]
    - {{ root }}/artifacts/lib                                       # [unix]

  PATH:                                                              # [win]
    - {{ root }}\artifacts\bin                                       # [win]
